@import "~bootstrap/scss/functions";

// Reassign bootstrap variables here
// $gray-600: #00ff00;
$green:      #30CC5C;
$red:        #F54C56;

$gray-100:   #F8F9FA;
$gray-900:   #1E222A;

$danger:     $red;
$primary:    $gray-900;
$secondary:  $gray-100;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),  // 4px
    2: ($spacer * .5),   // 8px
    3: $spacer,          // 16px
    4: ($spacer * 1.5),  // 24px
    5: ($spacer * 3)     // 48px
  ),
  $spacers
);

$grid-columns: 24;
$grid-gutter-width: 20px;

$link-hover-decoration: none;

$nl-theme-colors: ();
$nl-theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
      "danger":     $danger
    ),
    $nl-theme-colors
);

// Buttons
$btn-disabled-opacity: 0.45;


// Options
$enable-rounded: false;
$enable-shadows: false;

// Headings
$font-size-base:     1rem;
$line-height-base:   1.5;

$headings-margin-bottom: 0.5em;

$h1-font-size:                $font-size-base * 2.5;    // 40
$h2-font-size:                $font-size-base * 2;      // 32
$h3-font-size:                $font-size-base * 1.75;   // 28
$h4-font-size:                $font-size-base * 1.5;    // 24
$h5-font-size:                $font-size-base * 1.25;   // 20
$h6-font-size:                $font-size-base;          // 16



// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//
//
// Place custom variables here
// $gray-050: #f7f8f9;

$enable-hauss-font: true;
$button-border-radius: 0;


@import "~bootstrap/scss/variables";
